.heading {
    color: rgba(18, 18, 18, 0.8);
}

.paragragh {
    color: rgba(18, 18, 18, 0.8);
}

label {
    color: #344054;
}

@media (min-width: 360px) and (max-width: 920px) {
    .reach-out {
        padding: 0 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .reach-out-flex {
        gap: 3rem;
    }

    .main-header {
        font-size: 28px;
    }

    label {
        font-size: 14px;
    }

    .button {
        font-size: 16px;
    }
}
