.nav {
    transition: all 0.5s ease-in-out;
}

.small-screen-menu-btn {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.small-screen-menus {
    animation: fadeIn 0.7s;
}

@media (min-width: 360px) and (max-width: 920px) {
    .large-screen-menus {
        display: none;
    }

    .small-screen-menu-btn {
        display: block;
        width: 70%;
    }
}