ul li {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
}

.work-done {
    transition: all 0.4s ease-in-out;
}

.work-done:hover {
    transform: scale(1.1);
}

.active {
    color: #021B79;
    border-bottom: 1px solid #021B79;
}

@media (min-width: 360px) and (max-width: 920px) {
    .tab-nav ul li {
        font-size: 16px;
    }

    .tab-content {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
