.comment {
    width: 480px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #4B4849;
    margin-bottom: 8px;
}

.name {
    color: rgba(18, 18, 18, 0.9);
}

.pic {
    margin-top: -30px;
    margin-left: 80%;
}

@media (min-width: 360px) and (max-width: 920px) {
    .testimonials {
        padding: 0 16px;
        margin-bottom: 40px;
    }

    .testimonial {
        width: 100%;
    }

    .testimonial .pic {
        width: 30%;
        margin-top: -20px;
        margin-left: 80%;
    }

    .comment {
        width: 100%;
    }

    .main-heading {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 28px;
    }

    .testimonial-list {
        gap: 50px;
    }

    .name {
        font-size: 18px;
    }
}
