.hero-bg {
    background-image: url('../../assets/img/hero-bg.png');
    background-color: #00000080;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    min-height: 30vh;
}

@media (min-width: 360px) and (max-width: 920px) {
    .preamble {
        font-size: 20px;
    }

    .main-title {
        font-size: 30px;
    }
}
