@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* background-color: black; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (min-width: 640px) {
  body {
    width: 100vw;
  }
} */

code {
  font-family: 'Poppins', sans-serif;
}
